* {
    padding: 0;
    margin: 0;
    border: 0;
}
#home {
    margin: 0;
    border: 0;
    max-width: 100%;
    min-width: 100%;
    width: 100vw;
    max-height: 100%;
    min-height: 100%;
    height: 100vh;
    overflow: hidden;
}
.container {
    width: 100% !important;
    height: 100%;
    marign: 0;
    border: 0;
    padding: 0;
}
.row {
    min-width: 100%;
    max-width: 100%;
    width: 100% !important;
    height: 100%;
    marign: 0;
    border: 0;
    padding: 0;
}
#img-slider {
    margin: 0;
    border: 0;
    padding: 0;
    height: 75vh;
    width: 100%;
}
#myCarousel {
    margin: 0;
    border: 0;
    height: 100%;
}
.carousel-inner {
    margin: 0;
    border: 0;
    height: 100%;
}
.carousel-inner .item {
    margin: 0;
    border: 0;
}
.carousel-indicators li {
    width: 13px;
    height: 13px;
    border: 2px solid #4FC3F7;
    margin-top: 0;
    margin-bottom: 0;
}
.carousel-indicators .active {
    width: 13px;
    height: 13px;
    background-color: #4FC3F7;
}
.carousel-inner .item {
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#myCarousel .carousel-inner .one {
    background: url("../media/1.jpg") no-repeat left top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.two {
    background: url("../media/2.jpg") no-repeat left top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.three {
    background: url("../media/3.jpg") no-repeat left top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.four {
    background: url("../media/4.jpg") no-repeat left top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#header {
    margin: 0;
    border: 0;
    width: 100%;
    height: 20vh;
    padding: 5px 30px;
}
.logo, .name {
    float: left;
}
.clearfix {
    clear: both;
}
#header #top-right-nav {
    position: absolute;
    right: 0;
    top: 0;
}
.social {
    position: absolute;
    top: 90px;
    right: 40px;
}
.social a {
    margin: 5px;
}
.translate {
    margin: 10px;
}
.name {
    padding-left: 20px;
}
.name h3 {
    padding-top: 30px;
    font-size: 2em;
}
.navbar {
    height: 5vh;
    background-color: #276232;
    margin: 0;
    border: 0;
    border-radius: 0;
}
.navbar li:hover {
    background: #4CAF50;
}
.dropdown-menu {
    background-color: #276232;
}
.dropdown-menu > li:hover {
    background: #4CAF50;
}
.dropdown-menu > li > a:hover {
    background: none;
}
.navbar div .nav li a {
    color: #FAFAFA;
}
.navbar div .nav li a:hover {
    color: #FAFAFA;
}
.navbar div .nav li a:active {
    color: #FAFAFA;
}
.navbar div .nav li a:visited {
    color: #FAFAFA;
}
.navbar div .nav li a:link {
    color: #FAFAFA;
}
.navbar div .nav li a {
    color: #FAFAFA;
}
.navbar div .nav .dropdown ul li a:hover {
    color: #FAFAFA;
}
.navbar div .nav .dropdown ul li a:active {
    color: #FAFAFA;
}
.navbar div .nav .dropdown ul li a:visited {
    color: #FAFAFA;
}
.navbar div .nav .dropdown ul li a:link {
    color: #FAFAFA;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FAFAFA;
}
.navbar div .navbar-header .navbar-brand {
    color: #FAFAFA;
}
#welcome {
    margin: 0;
    padding: 4%;
    /*border-image: url("../media/triangle.png") 7 round;
    border: 10px solid transparent;*/
    text-align: center;
    color: #FAFAFA;
    width: 100%;
    max-width: 100%;
    background: #276232;
    position: relative;
}
#welcome .container:before, #welcome .container:after {
    content: "";
    display: table;
}
#welcome .container:before {
    content: "";
    position: absolute;
    top: -4px;
    height: 4px;
    right: 0;
    left: 0;
    z-index: 200;
    display: inline-block;
    background: url("../media/triangle.png") repeat-x;
}
#welcome .container:after {
    content: "";
    position: absolute;
    bottom: -4px;
    height: 4px;
    left: 0;
    right: 0;
    z-index: 25;
    display: inline-block;
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
    background: url("../media/triangle.png") repeat-x;
}
#welcome .container .row h1 {
    padding: 20px;
    margin: 0;
    border: 0;
    font-size: 42px;
}
#welcome p {
    padding: 20px;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    border: 0;
}
#nee {
    margin: 0;
    margin-bottom: 30px;
    border: 0;
    padding: 4%;
}
#nee .container .row #news .news-body {
    border: 0;
    background: url("../media/1.jpg") no-repeat left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FAFAFA;
}
#nee .container .row #news .news-body:hover {
    background: linear-gradient(rgba(15, 38, 20, 0.5), rgba(15, 38, 20, 0.5)), url("../media/1.jpg") no-repeat left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#news {
    height: 360px;
}
#news .header {
    height: 40px;
    text-align: left;
    font-size: 20px;
}
#news .news-body {
    height: 320px;
}
#news-holder {
    padding-top: 190px;
    height: 130px;
}
#news-holder .date {
    padding: 10px;
}
#news-holder .date h4 {
    background: lightgreen;
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
    font-size: 24px;
}
#news-holder .news {
    padding: 20px;
}
#news-holder .news p {
    font-size: 18px;
}
#events .header {
    height: 40px;
    text-align: left;
    font-size: 20px;
}
#events {
    height: 360px;
}
#events .event-body {
    height: 320px;
}
#events .event-body .event {
    height: 65px;
    padding: 0;
}
#events .event-body .event:nth-child(2) {
    margin-top: 20px;
    margin-bottom: 20px;
}
#events .event-body .event:nth-child(3) {
    margin-bottom: 20px;
}
#events .event-body .event .event-link {
    color: #FAFAFA;
    background: #D50000;
    display: block;
    width: 100%;
    height: 65px;
    text-decoration: none;
}
#events .event-body .event .event-link:hover {
    background: #FAFAFA;
    border: 2px solid #D50000;
    color: #D50000;
}
#events .event-body .event:nth-child(4) .event-link {
    background: #FAFAFA;
    border: 2px solid #D50000;
    color: #D50000;
    font-weight: bold;
}
#events .event-body .event:nth-child(4) .event-link:hover {
    background: #D50000;
    /*border: 2px solid #D50000;*/
    color: #FAFAFA;
}
#events .event-body .event .event-link .date {
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}
#events .event-body .event .event-link .event-detail {
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 14px;
}
#events .event-body .event .event-link #details {
    font-size: 24px;
    text-align: center;
    padding-top: 15px;
}
#eca {
    height: 360px;
}
#eca .header {
    height: 40px;
    text-align: left;
    font-size: 20px;
}
#eca .event-body {
    position: relative;
    height: 320px;
    background: linear-gradient(rgba(12, 185, 246, 0.4), rgba(12, 185, 246, 0.4)),
                url("../media/2.jpg") no-repeat left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-align: center;
}
#eca .event-body p {
    position: absolute;
    bottom: 10px;
    font-size: 24px;
}

#location {
    margin: 0;
    border: 0;
    width: 100%;
}

#location .container #map {
 height: 400px;
 width: 100%;
 border-top: 3px solid #276232;
}

#footer {
    margin: 0;
    width: 100%;
    position: relative;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    color: #FAFAFA;
    width: 100%;
    max-width: 100%;
    background: #276232;
}
#footer .container {
    margin: 0;
    border: 0;
}
#footer .container:before {
    content: "";
    display: table;
}
#footer .container:before {
    content: "";
    position: absolute;
    top: -4px;
    height: 4px;
    right: 0;
    left: 0;
    display: inline-block;
    background: url("../media/triangle.png") repeat-x;
}
